@model Squares.Models.Gallery

@{
    ViewBag.Title = "Home Page";
}

<section class="index-slogan">
    <h1>
        Simply square,<br />
        we hate circles
    </h1>
    <p>
        We have made it possible for you to be your own designer, Artist provide the pictures and you do the rest.
        Let you inner designer take a hold of you and let go!
    </p>
    <span><a href="#">Click here</a> to find out how to use our designer.</span>
</section>
<div id="transify" class="content-container">
    <h2>Most popular sets</h2>
    <section>
        <ul>
            @{
                foreach (var set in Model.getIndexGallery())
                {
                    <li class="set-item">
                        <h3 class="set-title">@set.Title</h3>
                        @Html.ActionLink(set.Artist.Alias, "Profile", "Home", new { artistId = set.ArtistId }, new { @class = "artist-name" })
                        <p class="set-description">
                           @set.Description
                        </p>
                        <dl class="rating-container">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i <= set.Rating)
                                {
                                    <dt class="rating-on"></dt>
                                    <dd></dd>
                                }
                                else
                                {
                                    <dt class="rating-off"></dt>
                                    <dd></dd>
                                }
                            }
                        </dl>
                        <ol class="set-preview">
                            @for(int i = 0; i < 5; i++)
                            {
                                <li><a href="#"><img alt="set piece" src="@set.SetPieces[i].Url.ToString()"></a></li>
                            }
                            
                        </ol>
                        @Html.ActionLink("Customize", "Designer", "Home", new { setId = set.SetId }, new { @class = "btn" })
                    </li>
                }

            }

        </ul>
    </section>
</div>