@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class=@ViewBag.Class>

    <nav>
        <ul class="main-navigation">
            <li class="main-navigation__item main-navigation__item--logo"><a href="/"><img src="~/Content/images/logo.png"></a></li>
            <li class="main-navigation__item"><a href="/Home/Gallery"><img src="~/Content/images/gallery.png"></a></li>
            <li class="main-navigation__item"><a href="/Home/About"><img src="~/Content/images/about.png"></a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="main-navigation__item"><a href="/Account/AccountManagement"><img src="~/Content/images/profile.png"></a></li>

                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <li class="main-navigation__item"><a href="javascript:document.getElementById('logoutForm').submit()"><img src="~/Content/images/logoff.png"></a></li>
                }
            }
            else
            {
                <li id="nav_login" class="main-navigation__item"><a href=""><img src="~/Content/images/login.png"></a></li>
            }

        </ul>



        <div id="search-widget" class="search bring-to-front">

            <form class="search__form">

                <div class="search__type hidden-sm-down">
                    <p class="search__type-text">artist</p>
                </div>
                <div class="search__searchbar-wrapper">
                    <input class="search__searchbar" placeholder="Search our collection" type="text" />
                </div>
                <img class="search__submit" src="~/Content/images/search-ico.png" />
                <div class="hidden-sm-down search__sort @if (ViewBag.Class == "index" || ViewBag.Class == "about") { @Html.Raw("hidden") }">
                    <div class="">
                        <p class="search__sort-item">top rated</p>
                    </div>
                    <div class="">
                        <p class="search__sort-item">most viewed</p>
                    </div>
                    <div class="">
                        <p class="search__sort-item">newest</p>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="wrapper">
        <div class="inner-wrapper">

            @RenderBody()

            <footer>
                <ul>
                    <li>
                        <ul class="social-media">
                            <li class="social-fb"><a href="/Home/Social"></a></li>
                            <li class="social-tw"><a href="/Home/Social"></a></li>
                            <li class="social-gplus"><a href="/Home/Social"></a></li>
                            <li class="social-instagr"><a href="/Home/Social"></a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="footer-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <span>&copy; Copyright 2016</span>
                    </li>
                </ul>
            </footer>
        </div>
    </div>

    <div id="modal_login" class="squares-modal">

        <div class="squares-modal__content">
            @Html.Partial("_Login")
        </div>
        <button class="squares-modal__close">close</button>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
