@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Content/images/favico.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class=@ViewBag.Class>

    <nav>
        <ul class="main-navigation">
            <li class="main-navigation__item main-navigation__item--logo"><a href="/"><img src="~/Content/images/logo.png" /></a></li>
            <li class="main-navigation__item nav-gallery"><a href="/Home/Gallery"></a></li>
            <li class="main-navigation__item"><a class="nav-about" href="/Home/About"></a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="main-navigation__item"><a class="nav-profile" href="/Account/AccountManagement"></a></li>
                <li class="main-navigation__item"><a class="nav-logout" href="/Account/LogOff"></a></li>
            }
            else
            {
                <li class="main-navigation__item"><a class="nav-login" href="/Account/Login"></a>
                </li>
            }

        </ul>

        @{ 
            Squares.Models.searchModel searchModel = new Squares.Models.searchModel();
        }
        @Html.Partial("_Search", searchModel)
    </nav>

    <div class="wrapper">
        <div class="inner-wrapper">

            @RenderBody()
        </div>
    </div>

    <footer>
        <ul>
            <li>
                <ul class="social-media">
                    <li class="social-fb"><a href="/Home/Social"></a></li>
                    <li class="social-tw"><a href="/Home/Social"></a></li>
                    <li class="social-gplus"><a href="/Home/Social"></a></li>
                    <li class="social-instagr"><a href="/Home/Social"></a></li>
                </ul>
            </li>
            <li>
                <ul class="footer-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                </ul>
            </li>
            <li>
                <span>&copy; Copyright 2016</span>
            </li>
        </ul>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
