@model Squares.Models.User

@{
    ViewBag.Title = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-wrapper">
    <h2>Welcome: @Model.UserName</h2>
    <h2>@Model.FirstName</h2>
    <h2>@Model.LastName</h2>

    @{
        Squares.Models.ArtistUser artist = new Squares.Models.ArtistUser();   
    }

    @if (!Model.IsArtist)
    {
        @Html.Partial("UserArtist", artist)
    }

    @Html.ActionLink("Add Set", "AddSet", "Account")
</div>
