@model Squares.Models.User

@{
    ViewBag.Title = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Squares.Models.ArtistUser artist = new Squares.Models.ArtistUser();
}

@if (!Model.IsArtist)
{
    @Html.Partial("UserArtist", artist)
}

<section class="profile-container">
    <div class="profile-image-container">
        <img src="https://lh3.googleusercontent.com/-OVWapa1cMi8/AAAAAAAAAAI/AAAAAAAAAAA/QcfUy0l4Luw/photo.jpg" />
    </div>
    <div class="profile-info-container">
        <h3>@Model.FirstName @Model.LastName</h3>
        @if (Model.IsArtist)
            {
            <p>Alias: @Model.Alias</p>
                <p>Description: @Model.Description</p>
                @Html.ActionLink("Add Set", "AddSet", "Account", new { @class = "btn" })
                
                foreach (var item in Model.sets)
                {
                    <div class="profile-sets-wrapper">
                        <h3>@item.Title</h3>
                        <dl class="rating-container">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i <= item.Rating)
                                {
                                    <dt class="rating-on"></dt>
                                }
                                else
                                {
                                    <dt class="rating-off"></dt>
                                }
                            }
                        </dl>
                        <ul>
                            @for (int i = 0; i < 5; i++)
                            {
                                <li><img src="@item.SetPieces[i].Url.ToString()" /></li>
                            }
                        </ul>
                        <p class="set-description">
                            @item.Description
                        </p>
                        <button class="btn">Edit</button>
                    </div>
                }
        }
    </div>
</section>


